#main {
    margin: auto;
    width: 80%;
}
#navbar {
    width: 100%;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar li{
    display: inline;
}
#navbar a{
    display: block;
    padding: 8px;
}
.active {
    background-color: #4CAF50;
  }