#main {
    margin: auto;
    width: 80%;
}
#navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}
#navbar ul{
    list-style: none;
    text-align: center;
}
#navbar li{
    display: inline-block;
    border: 1px solid #000
}
#navbar a{
    display: block;
    padding: 10px;
    background-color: rgb(78, 57, 25);
    color: #fff;
}
#navbar a:hover {
    background-color:rgb(0, 117, 6);
    color: #fff;
}
#search {
    background-position: 10px 12px; /* Position the search icon */
    width: 175px; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }