#main {
    margin: auto;
    width: 80%;
    background-color: #666;
}
#navbar {
    width: 100%;
    height: 40px;
}
#navbar ul{
    list-style: none;
    background-color: #775782;
}
#navbar li{
    display: inline;
}
#navbar a{
    display: block;
}